.idea
/client/node_modules
/client/.pnp
/client/.pnp.js


/coverage

/build

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/node_modules